/* signin styling */

.signin{
    margin: 0;
    padding: 0;
    background-image: url('./Images/ebook2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-box{
    position: relative;
    width: 500px;
    height: 60vh;
    padding: 50px 30px 30px 30px;
    background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: popup 1s ease-in-out;
}
@keyframes popup {
    from{
        transform: scale(0.7);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.cancel{
    width: 25px;
    position: absolute;
    top: 15px;
    left: 10px;
}
.signin-box h1{
    color: white;
    text-align: center;
    font-size: calc(25px + 1vw);
}
.input-box{
    margin: 0 auto;
    width: 90%;
    background-color: rgb(45, 45, 45);
    border: 0;
    height: 40px;
    padding: 3px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.input-box img{
    width: 25px;
}
.input-box input{
    background-color: transparent;
    border: 0;
    width: 90%;
    outline: none;
    caret-color: white;
    color: white;
}
.login-form button{
    margin: 0 auto;
    width: 90%;
    background-color: rgb(168, 255, 168);
    border: 0;
    height: 40px;
    padding: 3px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    transition: 0.5s;
}
.login-form button:hover{
    background-color: white;
}
.login-form p{
    text-align: center;
    color: white;
    font-size: 12px;
}
.login-form p a{
    color: rgb(168, 255, 168);
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}
@media only screen and (max-width:768px) {
    .signin-box{
        width: 80%;
    }
}

/* signup styling */

.signup{
    margin: 0;
    padding: 0;
    background-image: url('./Images/ebook2.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-box{
    position: relative;
    width: 40%;
    height: 70vh;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.856);
    animation: popup 1s ease-in-out;
}
.signup-box h1{
    color: white;
    text-align: center;
    font-size: calc(25px + 1vw);
}
.input-box .mail{
    width: 20px;
    margin: 3px;
}
.signup-error{
	color: red;
	font-size: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	padding: 0;
}

@media only screen and (max-width:768px) {
	.signup-box{
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}


/* style profile page */

.profile{
    display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.profile-sidebar{
    width: 23%;
    border: 0;
	left: 0%;
    margin: 0;
    height: 93vh;
    display: flex;
	flex-direction: column;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 44, 0);
	border: 1px solid white;
	z-index: 99;
	overflow: hidden;
}
.profile-pic{
	margin: 10px;
    width: 90%;
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-pic img{
	width: 80%;
	height: 80%;
	border-radius: 50%;
}
.profile-info p{
	color: white;
    font-size: 15px;
	text-align: center;
}
.sidebar-info{
	width: 80%;
	padding: 10px;
}
.sidebar-info p{
    color: white;
    font-size: 15px;
    text-align: left;
	font-weight: 600;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.profile-bottom{
	margin-top: 20px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-bottom button{
    width: 90%;
    height: 40px;
	border: 0;
	font-weight: 700;
    margin: 0 auto;
    margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-bottom button img{
	width: 20px;
	margin-left: 5px;
}
.profile-content{
    width: 75%;
	height: 93vh;
	margin: 0;
	padding: 0;
    background-color: rgb(7, 44, 0);
	border: 1px solid white;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none;
}
.profile-content h1{
    text-align: center;
}
.button-active{
    background-color: lime;
}

/* Add to cart styling */

.add-to-cart{
	position: relative;
	padding: 80px 10px 40px 10px;
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 20px;
	overflow-y: scroll;
	height: 80vh;
	scrollbar-width: none;
}

.cart h1{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.add-to-cart .Profile-book {
	display: flex;
	position: relative;
	background-color: floralwhite;
	border: 2px solid #363146;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 30px;
	height: auto;
	max-height: 250px;
	transition: 0.4s ease-in-out;
}
.add-to-cart .Profile-book img {
	width: 35%;
	height: auto;
	max-height: 150px;
	object-fit: cover;
}
.add-to-cart .Profile-book button {
	height: 25px;
	bottom: 5%;
	width: 90%;
	position: absolute;
	transition: 0.5s;
}
.add-to-cart .Profile-book:hover{
	background-color: rgb(7, 44, 0);
	color: white;
	border: 2px solid white;
}
.add-to-cart .Profile-book button:hover {
	background-color: lime;
	border: 0;
}

/* profile popup styling */

.profile-popup{
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 95%;
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90%;
}
.profile-header h1{
	position: absolute;
	top: 5%;
	left: 5%;
	color: lime;
	font-size: 40px;
}
.profile-info img{
	width: 200px;
	display: flex;
	margin: 0 auto;
}
.profile-info input{
	width: 100%;
	margin: 0 auto;
	display: flex;
	background-color: rgba(255, 255, 255, 0.429);
	margin-top: 10px;
	color: white;
	border: 1px solid lime;
	font-family: 'Courier New', Courier, monospace;
}
.profile-actions button{
	width: 100px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15px;
	color: white;
	background-color: transparent;
	border: 2px solid lime;
	border-radius: 15px;
	padding: 5px;
	font-weight: lighter;
	margin-top: 20px;
}

@media only screen and (max-width:768px){
	.profile{
		overflow-x: hidden;
	}
	.profile-sidebar{
		transform: translateX(-500px);
		width: 60%;
		height: 95vh;
		display: flex;
		flex-direction: column;
		margin: 10px;
		justify-content: center;
		border: 1px solid white;
		position: fixed;
		z-index: 99;
		transition: 0.8s;
	}
	.profile-sidebar.show{
		transform: translateX(0);
	}
	.profile-content{
		width: 100%;
		margin: 0;
		border: 0;
		border-radius: 0;
		height: 95vh;
		background-color: rgb(4, 19, 0);
	}
	.profile-popup{
		margin: 0 auto;
	width: 94%;
	height: 91vh;
}
}

/* Fav book styling */

.profile-favorites{
	position: relative;
	padding: 80px 10px 40px 10px;
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	grid-gap: 20px;
	overflow-y: scroll;
	height: 80vh;
	scrollbar-width: none;
}
.favorites h1{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.profile-favorites .Profile-book {
	position: relative;
	display: flex;
	position: relative;
	background-color: floralwhite;
	border: 2px solid #363146;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 30px;
	height: auto;
	max-height: 250px;
	transition: 0.4s ease-in-out;
}
.profile-favorites .Profile-book img {
	width: 35%;
	height: auto;
	max-height: 150px;
	object-fit: cover;
}
.profile-favorites .Profile-book button{
	height: 25px;
	bottom: 5%;
	width: 90%;
	position: absolute;
	transition: 0.5s;
}
.profile-favorites .Profile-book:hover{
	background-color: rgb(7, 44, 0);
	color: white;
	border: 2px solid white;
}
.profile-favorites .Profile-book button:hover{
	background-color: lime;
	border: 0;
}

@media only screen and (max-width:768px) {
	.profile-favorites .Profile-book{
		width: 85%;
		padding-bottom: 40px;
	}
}


/* style library page */

.genre-body{
	margin: 0;
	padding: 0;
	height: 100%;
    background-image: url('./Images/ebook2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}
.genre-page{
	width: 100%;
	height: 100vh;
	display: flex;
	margin: 0;
	padding: 0;
}
.filter-options input[type="radio"]{
	display: none;
}
.ebook-grid{
	padding: 80px 10px 40px 10px;
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	grid-gap: 20px;
	overflow-y: scroll;
	height: 80vh;
	scrollbar-width: none;
}
.ebook-grid-items {
	display: flex;
	position: relative;
	background-color: floralwhite;
	border: 2px solid #363146;
	border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	transition: 0.4s ease-in-out;
}
.ebook-grid-items:hover{
	transform: scale(1.05);
	background-color: rgb(255, 255, 255);
	color: black;
}
.ebook-grid-items img {
	width: 35%;
	height: auto;
	object-fit: cover;
}
.library-info .title{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: 700;
}
.library-info .book-genre{
	margin: 0 5px;
	padding: 0;
	font-size: 12px;
	font-weight: 600;
}
.library-info .author{
	margin: 0 5px;
	padding: 0;
	font-size: 12px;
	font-weight: 600;
}
.library-info .book-price{
	padding: 0;
	margin: 0 5px;
}
.library-info hr{
	margin: 5px;
	padding: 0;
}
.library-info .description{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.library-info{
	padding: 5px;
}
a, .ebook-grid-items .library-info{
	color: black;
	text-decoration: none;
}
.filter-options label{
	padding: 5px 10px 5px 10px;
	text-align: center;
	border: 1px solid black;
	position: relative;
	background-color: lime;
	z-index: 1;
}
.filter-options label::after{
	content: '';
	position: absolute;
	background-color: rgb(195, 0, 255);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.4s ease-in-out;
}
.filter-options label:hover::after{
	height: 0%;
}
.library-sidebar{
	margin: 0;
	padding: 0;
	z-index: 1;
	background-color: rgb(7, 44, 0);
	height: 100vh;
	width: 18%;
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	left: 0;
	transition: 1s ease-in-out;
}
	.library-sidebar.show{
		transform: translateX(0);
	}
.search-box{
	height: 100px;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 40px;
	padding: 5px 10px;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}
.search-box p{
	margin: 0;
	background-color: black;
	padding: 10px;
	position: absolute;
	bottom: -20%;
}

.filter-options{
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	grid-gap: 10px;
	animation: display 0.5s ease-in-out;
}
.filter-options input{
	display: flex;
	margin: 0 auto;
}
@keyframes display {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.library-sidebar button{
	padding: 10px 0 10px 0;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 75%;
	height: 30px;
	display: flex;
	margin: 0 auto;
	background-color: rgb(7, 44, 0);
	color: lime;
	border: 2px solid lime;
	padding: 5px;
	transition: 1s;
}
.library-sidebar button:hover{
	color: rgb(7, 44, 0);
	background-color: lime;
}
.library-sidebar.show{
	right: 0;
}
.menu-btn{
	display: none;
	position: fixed;
	margin: 0 10px 0 30px;
	background-color: transparent;
	border: 0;
	top: 4%;
	right: 2%;
	padding: 0;
	z-index: 99;
}
.menu-btn img {
	width: 25px;
	height: 17px;
}

@media only screen and (max-width:768px){
	.ebook-grid{
	padding: 80px 50px 40px 50px;
	height: 85vh;
	width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-gap: 40px;
}
.ebook-grid-items {
	height: 180px;
}
.library-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.library-sidebar{
	transform: translateX(-500px);
	position: absolute;
	width: 50%;
	z-index: 99;
}
.library-info hr{
	margin: 2px;
	padding: 0;
}
.library-info .title{
	font-size: 17px;
}
.library-info .book-genre{
	font-size: 13px;
}
.library-info .author{
	font-size: 13px;
}
.library-info .book-price{
	font-size: 13px;
}
.search-box{
	z-index: 1;
}
.error-msg{
	width: 200px;
}
.menu-btn{
	display: block;
}
}


/* Latest styling */

.latest-page{
	background-color: white;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blog-header nav h1{
	font-size: 30px;
}
.blog-header p{
	font-size: 20px;
}
.blog-header {
	background: rgb(7, 44, 0);
	text-align: center;
	color: white;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 20px;
}
.blog-posts {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
article {
	background-color: #fff;
	border: 1px solid green;
	margin: 20px;
	padding: 20px;
	max-height: 600px;
}
article img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.blog-posts article h2{
	color: black;
}
.loader2{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.loading-post{
	background-color: #fff;
	border: 1px solid green;
	margin: 20px;
	padding: 20px;
	width: 80%;
}
.loading-post .loading-image{
	width: 100%;
	height: 250px;
	background-color: rgb(197, 197, 197);
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.509);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.685), rgba(135, 207, 235, 0.639), rgba(255, 255, 255, 0.685), rgba(135, 207, 235, 0.639));
	animation: loadpost 3s infinite;
}
.loading-post .loading-text{
	margin-top: 10px;
	width: 100%;
	border-radius: 4px;
	border: none;
	background-color: rgba(255, 255, 255, 0.509);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.685), rgba(135, 207, 235, 0.639), rgba(255, 255, 255, 0.685), rgba(135, 207, 235, 0.639));
	background-size: 800px 50px;
	height: 20px;
	margin-bottom: 5px;
	animation: loadpost 5s infinite;
}
@keyframes loadpost {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}
.error-content{
	padding: 30px 0;
}
.error-content .news-error{
	background-color: rgba(44, 44, 44, 0.863);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50%;
	animation: blinkani 1.5s linear infinite;
}
@keyframes blinkani {
	0%{
		background-color: rgba(44, 44, 44, 0.863);
	}
	50%{
		background-color: rgb(16, 16, 16);
	}
	100%{
		background-color: rgba(44, 44, 44, 0.863);
	}
}

.error-content .news-error p{
	color: red;
	text-align: center;
	margin: 0;
	padding: 0;
}

.back-btn, .next-btn {
	border: 0;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.back-btn .arrow-left, .next-btn .arrow-right {
	transform: scale(2);
	padding: 0 10px;
	color: rgb(0, 154, 0);
}
.back-btn .arrow-left:hover, .next-btn .arrow-right:hover {
	color: rgb(0, 230, 0);
}
.pagination span{
	font-size: 15px;
	font-weight: 700;
	color: rgb(4, 19, 0);
}

@media only screen and (max-width: 768px) {
	.blog-posts {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr;
}
article {
	background-color: #fff;
	border: 1px solid green;
	margin: 20px;
	padding: 20px;
	width: 80%;
	height: auto;
}
article img {
	width: 100%;
	height: auto;
	object-fit: cover;
}
.blog-posts article h2{
	color: black;
	font-size: 18px;
}
.blog-posts article p{
	font-size: 14px;
}
.blog-posts article a{
	font-size: 14px;
}
}

/* style description section */

.description-page{
	position: relative;
	padding: 20px;
	display: flex;
}
.description-page .back-button{
	position: absolute;
	background-color: transparent;
	border: 0;
	top: 15px;
	left: 10px;
}
.back-button .back-icon{
	scale: 2;
	color: white;
	transition: 0.5s;
}
.back-button .back-icon:hover{
	color: lime;
}
.left-description{
	background-color: rgba(255, 255, 255, 0.183);
	width: 40%;
	padding: 20px;
	color: white;
	height: 85vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}
.left-description img{
	height: 420px;
	border-radius: 10px;
}
.right-description{
	width: 55%;
	max-height: 85vh;
	scrollbar-width: none;
	padding: 20px;
	overflow-y: scroll;
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: center;
}
.right-description h1{
	color: white;
	font-size: 35px;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.right-description h2{
	color: white;
	font-size: 25px;
	font-weight: 400;
	padding: 0;
	margin: 0px;
}
.right-description p{
	color: rgb(199, 199, 199);
	font-size: 20px;
	line-height: 1.5;
}
.right-description span{
	color: rgb(0, 237, 0);
	font-size: 20px;
}
.right-description button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: rgb(0, 237, 0);
	color: rgb(7, 44, 0);
	border-radius: 10px;
	font-weight: 600;
	font-size: 13px;
	border: 0;
	margin: 0 auto;
	margin-top: 20px;
	width: 200px;
	transition: 0.5s;
}
.right-description button:hover{
	background-color: white;
	transform: scale(1.05);
}
.phone-icon{
	padding: 0px 10px;
}
.icons{
	border: 2px solid white;
	border-radius: 10px;
}
.cart-icon, .bookmark-icon, .heart, .open-book, .download-book{
	color: white;
	padding: 10px 20px;
	transform: scale(1.5);
	transition: 0.5s;
}
.cart-icon:hover, .bookmark-icon:hover, .heart:hover, .open-book:hover, .download-book:hover{
	color: lime;
	transform: scale(1.7);
}

.heart.isFavorite{
	color: lime;
}
.notice{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.792);
}
.notice .notice-icon{
	color: red;
	padding: 5px 10px;
	transform: scale(1.3);
}
.notice p{
	color: red;
}
@media only screen and (max-width:768px) {
	.description-page{
		flex-direction: column;
		gap: 50px;
	}
	.left-description{
		width: 90%;
		height: auto;
	}
	.left-description img{
		width: 80%;
		height: auto;
	}
	.right-description{
		width: 90%;
		max-height: none;
	}
	.right-description h1{
		font-size: 20px;
	}
	.right-description h2{
		font-size: 15px;
	}
	.right-description p{
		font-size: 12px;
		line-height: 1.5;
	}
}
.nfp{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nfp .error-message{
	display: flex;
	color: white;
}
.nfp .error-message p{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
}
.fof{
	padding: 20px;
	font-size: 40px;
	border-right: 1px solid lime;
	font-weight: 700;
}
.nfp button{
	margin: 0 auto;
	background-color: transparent;
	border: 1px solid lime;
	border-radius: 10px;
	color: lime;
	font-weight: 700;
	padding: 15px 40px;
}